@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('../img/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}
